{% extends 'base.html.twig' %}

{% block body %}

    <main class="app-content">

        <div class="row">
            <div class="col-md-9">
                <div class="tile text-center">
{#                    LOADING #}
{#                    <div class="overlay">#}
{#                        <div class="m-loader mr-4">#}
{#                            <svg class="m-circular" viewBox="25 25 50 50">#}
{#                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle>#}
{#                            </svg>#}
{#                        </div>#}
{#                        <h3 class="l-text">Loading</h3>#}
{#                    </div>#}
                    <h3 class="tile-title">General attack history</h3>
                    <canvas id="general-history"></canvas>
                </div>
                {% include 'Charts/template.html.twig' with generalAttackHistory %}
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <div class="widget-small primary coloured-icon">
                            <i class="icon fas fa-heartbeat fa-3x"></i>
                            <div class="info">
                                <h4>Health</h4>
                                <p><b>6/10</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="widget-small danger coloured-icon">
                            <i class="icon fas fa-bell fa-3x"></i>
                            <div class="info">
                                <h4>Alerts</h4>
                                <p><b>4</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="widget-small info coloured-icon">
                            <i class="icon fas fa-thermometer-quarter fa-3x"></i>
                            <div class="info">
                                <h4>Global state</h4>
                                <p><b class="text-success">Fine</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="tile">
                    <h3 class="tile-title text-center">General log history</h3>
                    <table id="vulnerabilities" class="table table-hover table-bordered dataTable no-footer" width="100%">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Type</th>
                            <th scope="col">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for log in generalLogHistory %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ log.type }}</td>
                                <td>{{ log.createdAt|date('d/m/Y') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </main>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready( function () {
            $('#vulnerabilities').DataTable();
        } );
    </script>
{% endblock %}

