{% extends 'base.html.twig' %}

{% block body %}

    <main class="app-content">

        <div class="row">
            <div class="col-md-12">
                <div class="tile text-center">
                    <h3 class="tile-title">General history</h3>
                </div>
            </div>
        </div>

    </main>

{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}

