{% extends 'base.html.twig' %}

{% block body %}

    <main class="app-content">
        {# todo: envoie message a slack #}
    </main>

{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}

